PORT= 3000

# DB_HOST='localhost'
# DB_USER='postgres'
# DB_PASSWORD='111111'
# DB_NAME='testpro'
# DB_PORT= 5432

# JWT_SECRET=....

DATABASE_URL=postgresql://postgres.xldivlwfvrafolxjygys:RIVO_Ecommerc@aws-1-ap-south-1.pooler.supabase.com:5432/postgres
# Internal redis key
REDIS_URL=redis://default:HQHAh5GxH4TPbwVjB8RgTTLubq1tmA7Lredis://default:HQHAh5GxH4TPbwVjB8RgTTLubq1tmA7L@redis-17825.c285.us-west-2-2.ec2.cloud.redislabs.com:17825
# External redis key
# REDIS_URL=rediss://red-d6l2jf94tr6s73cgbm2g:9mUprI89nF7uSUwiJdPvDtRDnCUO4FDL@oregon-keyvalue.render.com:6379